body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 80px;
    display: flex;
    padding: 0 10% 0 10%;

    background: #fff;
}

.webstudio {
    margin-top: 24px;
    color: #000;
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.web {
    color: #2196F3;
}

.nav {
    width: auto;
    height: 16px;
    margin-top: 32px;
    margin-left: 92px;
}

.nav li {
    display: inline;
    margin: 0 50px 0 0;
}

.cont {
    position: absolute;
    right: 10%;
    width: auto;
    height: 16px;
    margin-top: 32px;
}

.cont li {
    display: inline;
    margin: 0 0 0 30px;
}


.cont,
.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.nav a {
    color: #212121;
}

.nav a:hover,
a:focus {
    color: #2196F3;
}



.cont a {
    color: #757575;
}

.cont a:hover,
a:focus {

    color: #2196F3;
}

.hero {
    height: 600px;
    background-color: #424242;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.herotext {
    width: 690px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin: 200px 0 30px 0;
}

.herobutton {
    color: #fff;
    background: #2196F3;
    box-shadow: #000 0px 0px 5px;
    border-radius: 4px;
    padding: 10px 32px;
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.herobutton:hover {
    box-shadow: inset#000 0 0 10px;
    text-shadow: #000 0 0 1px;
}

.features {

    margin-top: 94px;
    padding: 0 10% 0 10%;
}

.features h3 {
    margin: 30px 0 10px 0;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.features ul {
    display: flex;
    justify-content: space-between;
}

.features li {
    padding: 15px;
    width: 270px;
    height: 250px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}