:root {
    --main-font: 'Roboto', sans-serif;
    --secondry-font: 'Raleway', sans-serif;
    --main-font-size: 14px;

    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --webstudio-color: #000000;
    --webstudio-color-secondary: #2196F3;
    --hover-focus-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --secondary-white-color: #ffffff;
    --hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --hero-bg-color: #2F303A;
    --footer-bg-color: #2F303A;
    --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --button-text-color: #212121;
    --button-bg-color: #F5F4FA;

    --button-text-color-hover: #ffffff;
    --button-bg-color-hover: #2196F3;

    --border-header-color: #ECECEC;
    --border-card-color: #eeeeee;



}




/* --------------------------------------------Studio------------------------------------- */
body {
    font-size: var(--main-font-size);
    font-family: var(--main-font);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    letter-spacing: 0.03em;
}

.container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
}




/* -------------------------------------------------Nav-------------------------------------- */
.webstudio {

    color: var(--webstudio-color);
    font-family: var(--secondry-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-top: 24px;

}

.web {
    color: var(--webstudio-color-secondary);
}

.nav {
    margin-top: 32px;
    margin-left: 92px;
}

.nav-item+.nav-item,
.contacts-item+.contacts-item {
    margin-left: 50px;
}



.contacts {
    margin-left: 330px;
    margin-top: 32px;
}



.contacts,
.nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav .link {
    color: var(--primary-text-color);
}

.nav .link.current {
    color: var(--hover-focus-color);
}

.nav .link:hover,
.nav .link:focus {
    color: var(--hover-focus-color);
}

.contacts .link {
    color: var(--secondary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--hover-focus-color)
}




/* -------------------------------------Hero----------------------------------------- */
.hero {
    height: 600px;
    background-color: var(--hero-bg-color);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-title {
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 200px 0 30px 0;
}

.hero-button {
    color: var(--secondary-white-color);
    background: var(--hover-focus-color);
    box-shadow: var(--hero-button-shadow);
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}

.hero-button:hover,
.hero-button:focus {
    box-shadow: inset var(--hero-button-shadow);

}

/* ----------------------------------------Features------------------------------------- */

.features {
    margin-top: 94px;
}

.feat-item {
    width: 270px;
}

.feat-item+.feat-item {
    margin-left: 30px;
}

.feat-title {
    color: var(--primary-text-color);
    margin: 0 0 10px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feat-descr {
    margin: 0;

    /* ??????? font-weight: 400; непотрібен - він іде по-дефолту з браузера. я правильно зрозумів?   */

    line-height: 1.71;
    color: var(--secondary-text-color);
}




/* ------------------------------------What are we doing----------------------------------- */
.we-doing {
    flex-direction: column;
}

.we-doing-title {
    color: var(--primary-text-color);
    margin: 94px 0 50px 0;
}

.we-doing-item+.we-doing-item {
    margin-left: 30px;
}



.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* -----------------------------------------Our team------------------------------------ */


.our-team {
    height: 648px;
    margin-top: 94px;
    background-color: var(--secondary-bg-color);
}

.our-team.container {
    flex-direction: column;
}


.our-team-title {
    margin: 94px 0 50px 0;

}

.team-card {
    width: 270px;
    height: 368px;
    background-color: var(--primary-bg-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-card-title {
    font-size: 16px;
    margin: 30px 0 10px 0;
    font-weight: 500;
}

.team-position {
    margin: 0 0 30px 0;
    color: var(--secondary-text-color);
}

.team-card+.team-card {
    margin-left: 30px;
}

.footer {
    height: 252px;
    background-color: var(--footer-bg-color);
    color: var(--secondary-white-color);
}

.footer .webstudio,
.address-item .map {
    text-decoration: none;
    color: var(--secondary-white-color);
}

.footer .container {
    padding-top: 60px;
    display: block;
}

.address {
    font-style: normal;
    margin-top: 20px;
}

.address-item {
    margin-top: 9px;
    line-height: 1.71;
}



.address .list {
    display: block;
}

.address .link {
    color: var(--secondary-white-color);
}

.address .link:hover,
.address .link:focus {
    color: var(--hover-focus-color);
}

.link.transparent {
    color: rgba(255, 255, 255, 0.5);
}

/* --------------------------------------Portfolio--------------------------------------------- */

.header {
    border-bottom: 1px solid var(--border-header-color);
}

.buttons {
    font-family: var(--main-font);
    cursor: pointer;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    height: 38px;
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
}

.btn.list {
    margin: 0 0 50px 0;
    align-items: center;
    flex-direction: column;
}

.buttons.primary {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.primary.active {
    color: var(--button-text-color-hover);
    background-color: var(--button-bg-color-hover);
}

.buttons:hover,
.buttons:focus {
    color: var(--button-text-color-hover);
    background-color: var(--button-bg-color-hover);
}

.filters {
    margin-top: 94px;
}


.filters-item {
    list-style: none;

}

.filters .container {
    flex-direction: column;
}

.filters-card {
    width: 370px;
    height: 404px;
    border: 1px solid var(--border-card-color);
}

.filters-card-title {
    margin: 20px auto 0 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.filters-card-descr {
    margin: 4px auto 20px 24px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}